html, body, thead, tbody, tfoot, div, p, label, span
{
	margin:0px;
	padding:0px;
	border:0 none;
}
body
{
	color:#000;
}
body, body *
{
	position:relative;
	font-size:13px;
	font-family:WenQuanYi Zen Hei, Arial,Helvetica, Microsoft YaHei, 
		YouYuan, sans-serif;
}
table
{
	border-collapse:collapse;
	border-spacing:0;
	border:solid 1px #d8d8d8;
}
td, th
{
	padding:6px 3px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	border-bottom:solid 1px #d8d8d8;
	text-align:left;
	text-shadow:0px 1px 0px #fff;
	color:#444;
}
td
{
	background:#f8f8f8;
}
th
{
	background:-moz-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	background:-o-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	background:-webkit-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	background:-w3c-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
}
a
{
	cursor:pointer;
	text-decoration:none;
	color:#000;
}
li
{
	list-style-type:none;
}
ul
{
	padding:0px;
	margin:0px;
}
input[type="text"], input[type="password"], textarea
{
	background:#fff;
	box-shadow:0px 1px 0 #F1F1F1, 0px 1px 1px #E0E0E0 inset;
	border:solid 1px #cacaca;
	padding:3px;
}
.bael_whiteBtn, .bael_whiteBtnR, .bael_whiteBtnS
{
	background:-moz-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	background:-o-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	background:-webkit-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	background:-w3c-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	padding:5px 10px;
	box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	color:#333;
	border-style:solid;
	border-width:1px;
	border-color:#d4d4d4 #d4d4d4 #bcbcbc;
	border-radius:3px;
	text-shadow:1px 1px 0 #fff;
}
.bael_whiteBtnS
{
	padding:2px 10px;
}
.bael_whiteBtn:hover
{
	background:-moz-linear-gradient(top,
		rgba(87, 153, 218, 1) 0%,
		rgba(52, 118, 183, 1) 100%);
	background:-o-linear-gradient(top,
		rgba(87, 153, 218, 1) 0%,
		rgba(52, 118, 183, 1) 100%);
	background:-webkit-linear-gradient(top,
		rgba(87, 153, 218, 1) 0%,
		rgba(52, 118, 183, 1) 100%);
	background:-w3c-linear-gradient(top,
		rgba(87, 153, 218, 1) 0%,
		rgba(52, 118, 183, 1) 100%);
	color:#eee;
	text-shadow:1px 1px 0 #5799da;
	border-color:#518cc6 #518cc6 #2a65a0;
}
.bael_whiteBtnR:hover
{
	background:-moz-linear-gradient(top,
		rgba(226, 44, 69, 1) 0%,
		rgba(187, 12, 45, 1) 100%);
	background:-o-linear-gradient(top,
		rgba(226, 44, 69, 1) 0%,
		rgba(187, 12, 45, 1) 100%);
	background:-webkit-linear-gradient(top,
		rgba(226, 44, 69, 1) 0%,
		rgba(187, 12, 45, 1) 100%);
	background:-w3c-linear-gradient(top,
		rgba(226, 44, 69, 1) 0%,
		rgba(187, 12, 45, 1) 100%);
	color:#eee;
	text-shadow:1px 1px 0 #e22c45;
	border-color:#e22c45 #e22c45 #bb0c2d;
}
.bael_center
{
	margin:auto;
}
.bael_center, .bael_top, .bael_header, .bael_main, .bael_bottom
{
	width:1000px;
}
.bael_top, .bael_header, .bael_main, .bael_bottom, .bael_mainLeft, 
.bael_mainRight
{
	float:left;
}
.bael_mainLeft
{
	width:700px;
}
.bael_mainLeft *
{
	float:left;
}
.bael_mainRight
{
	width:295px;
	margin-left:5px;
}
.bael_mainLeft .bael_mainWindow
{
	width:694px;
}
.bael_mainRight .bael_mainWindow
{
	width:289px;
}
.bael_main .bael_mainWindow
{
	width:994px;
}
.bael_mainWindow
{
	background:#efefef;
	padding:3px;
	border-radius:3px;
}
.bael_top, .bael_header, .bael_main, .bael_bottom
{
	float:left;
	margin:0px;
	padding:0px;
}
.bael_topB
{
	background:-moz-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	background:-o-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	background:-webkit-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	background:-w3c-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(234, 234, 234, 1) 100%);
	border-bottom:solid 1px #cacaca;
	height:50px;
	box-shadow:0px 0px 10px rgba(0, 0, 0, .1),
		0px 1px 0px rgba(255, 255, 255, .4);
}
.bael_top
{
	height:50px;
	line-height:50px;
}
.bael_topLogo
{
	font-size:25px;
	font-weight:bold;
	float:left;
	text-shadow:0px 1px 0px #fff;
}
.bael_title
{
	background:-moz-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(224, 224, 224, 1) 100%);
	background:-o-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(224, 224, 224, 1) 100%);
	background:-webkit-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(224, 224, 224, 1) 100%);
	background:-w3c-linear-gradient(top,
		rgba(250, 250, 250, 1) 0%,
		rgba(224, 224, 224, 1) 100%);
	border:solid 1px #cacaca;
	padding:10px;
	font-weight:bold;
	font-size:14px;
}
.bael_redTitle
{
	background:-moz-linear-gradient(top,
		rgba(238, 55, 73, 1) 0%,
		rgba(177, 10, 38, 1) 100%);
	background:-o-linear-gradient(top,
		rgba(238, 55, 73, 1) 0%,
		rgba(177, 10, 38, 1) 100%);
	background:-webkit-linear-gradient(top,
		rgba(238, 55, 73, 1) 0%,
		rgba(177, 10, 38, 1) 100%);
	background:-w3c-linear-gradient(top,
		rgba(238, 55, 73, 1) 0%,
		rgba(177, 10, 38, 1) 100%);
	border:solid 1px #b10a26;
	padding:10px;
	font-weight:bold;
	font-size:14px;
}
.bael_mainLeft .bael_title,
.bael_mainLeft .bael_content
{
	width:672px;
}
.bael_content
{
	border:solid 1px #cacaca;
	border-top:none;
	background:#fff;
	padding:10px;
}
.bael_mainRight .bael_title,
.bael_mainRight .bael_content
{
	width:267px;
}
.bael_subTitle
{
	font-weight:bold;
	padding:5px;
}
.bael_subTitle .bael_button
{
	padding:2px 10px;
	margin-left:10px;
}
.bael_subTitle span
{
	padding:2px 0px;
}
.bael_mainLeft .bael_mwL2
{
	width:327px;
}
.bael_mainLeft .bael_tL2,
.bael_mainLeft .bael_cL2
{
	width:305px;
}
.bael_mainLeft .bael_tL2
{
	padding:5px 10px;
}
.bael_simpleTableView
{
	overflow:auto;
	width:650px;
	height:150px;
	border:solid 1px #cacaca;
	margin-bottom:20px;
}
.bael_tableRow
{
	width:600px;
	border:solid 1px #cacaca;
}
.bael_tableTd
{
	padding:0px 5px;
}
.bael_tableTd pre
{
	padding:0px;
	margin:0px;
}
.bael_lightOffLay
{
	width:100%;
	position:fixed;
	height:100%;
	background:rgba(0, 0, 0, .5);
	z-index:999;
	display:none;
}
.bael_dialog
{
	padding:3px;
	background:#efefef;
	margin:auto;
	box-shadow:0px 2px 5px rgba(0, 0, 0, .5);
	border-radius:0 0 3px 3px;
}
.bael_nav0 li a
{
	color:#aaa;
}
.bael_nav0 li.selected a
{
	color:#000;
}
.bael_nav0
{
	width:500px;
	font-size:15px;
	font-weight:bold;
	height:50px;
	float:left;
}
.bael_nav0 li
{
	float:left;
	text-align:center;
	margin:10px;
	height:28px;
	line-height:28px;
	border:solid 1px transparent;
	color:#aaa;
	text-shadow:0px 1px 0px #fff;
}
.bael_nav0 li.selected
{
	border:solid 1px #ddd;
	border-radius:3px;
	background:-moz-linear-gradient(top,
		rgba(241, 241, 241, 1) 0%,
		rgba(224, 224, 224, 1) 100%);
	background:-o-linear-gradient(top,
		rgba(241, 241, 241, 1) 0%,
		rgba(224, 224, 224, 1) 100%);
	background:-webkit-linear-gradient(top,
		rgba(241, 241, 241, 1) 0%,
		rgba(224, 224, 224, 1) 100%);
	background:-w3c-linear-gradient(top,
		rgba(241, 241, 241, 1) 0%,
		rgba(224, 224, 224, 1) 100%);
	color:#000;
}
.bael_nav1
{
	margin-top:10px;
	border-style:solid;
	border-width:1px;
	border-color:#eaeaea #eaeaea #cacaca;
	border-radius:3px;
	background:-moz-linear-gradient(top,
		rgba(252, 252, 252, 1) 0%,
		rgba(235, 235, 235, 1) 100%);
	background:-o-linear-gradient(top,
		rgba(252, 252, 252, 1) 0%,
		rgba(235, 235, 235, 1) 100%);
	background:-webkit-linear-gradient(top,
		rgba(252, 252, 252, 1) 0%,
		rgba(235, 235, 235, 1) 100%);
	background:-w3c-linear-gradient(top,
		rgba(252, 252, 252, 1) 0%,
		rgba(235, 235, 235, 1) 100%);
	width:698px;
}
.bael_nav1 li
{
	cursor:pointer;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	border-left:1px solid rgba(0, 0, 0, 0.05);
	border-bottom:solid 2px transparent;
	color:#aaa;
	font-weight:bold;
	text-shadow:0px 1px 0px #fff;
}
.bael_nav1 li.selected
{
	border-bottom-color:#d26911;
	color:#000;
}
.bael_nav2
{
	width:700px;
	margin-top:10px;
}
.bael_nav2 li
{
	border:solid 1px transparent;
	border-bottom:solid 1px #cacaca;
	height:35px;
	line-height:35px;
	background:#fff;
	text-align:center;
	margin-left:-1px;
	cursor:pointer;
}
.bael_nav2 li.selected
{
	border-top:solid 1px #cacaca;
	border-left:solid 1px #cacaca;
	border-right:solid 1px #cacaca;
	border-bottom:solid 1px transparent;
	border-radius:3px 3px 0px 0px;
	z-index:9;
	font-weight:bold;
}
.bael_dialog p
{
	margin:10px 0px;
}
